@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
} 
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}
i{color:#2fccd0;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
 
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/* End default style */

.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('https://images.pexels.com/photos/1024797/pexels-photo-1024797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);
}

.header:before{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.navbar:before{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}

.nav-item a{
    color: #fff !important;
}

.header-section{
   width: 100%;
   height: inherit;
   color: white;
   text-align: center;
   position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-family: 'Khula', sans-serif;
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 20px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;

}
.header-buttons a:hover{
    color: #50dac0;
    background: #fff;
    text-decoration: none;
    
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: #fff;
}


/* header extradiv section */
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
}
.extra-div{
    background-blend-mode: #fff;
    padding: 50px;
    border: medium none;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}

.extra-div h2{
    font-size: 0.9rem;
    margin: 20px;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.extra-div:hover{
    -webkit-box-shadow: 10px -3px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -3px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 10px -3px 23px -6px rgba(0,0,0,0.75);
    transform: translateY(-20px);
}

 
/* End header extra-div section */


/* service -offer section */
.headings{
    text-align: center;
    margin-bottom: 50px;
    
}

.service-offer{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}

.headings h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

}
.names h2{
    color: #2e2e2e;
    font-size: 0.9rem;
    font-weight: bold;

}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.6rem !important;
    margin-bottom:20px !important ;
}
/* End service offer section */



/* Award won start  */


.project-work{
    margin: 50px 0;
}
/* Award won End  */


/* pricing section  */
.pricing{
    width: 100%;
    padding: 50px;
    position: relative;
    
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0%;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(160deg ,#16c9f6 55%,#fff 0%);

}

.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}

.card{
    transition: 0.4s ease;

}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding: 25px 9px !important;
}
.card-body{
    padding: 30px 0 !important;
}

.card-body li{
    margin: 10px 0;
    font-weight: 400;
    line-height: 1.6;
    color: #606060;
}

.card-footer{
    background: white !important;
    padding: 30px 0 !important;
}

.card-footer a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: rgba(184, 238, 252, 1.0);

}
.card-footer a:hover{
    color: #606060;
    background: #50d1c0;
    
    -webkit-box-shadow: 10px -3px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -3px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 10px -3px 23px -6px rgba(0,0,0,0.75);

}
.card:hover{
    transform: translateY(-20px);
}
.card:hover .card-header,.card:hover .money{
    color: #50d1c0;;
}
/* End pricing section */


/* Happy client section */
.happyClients{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}

.customers{
     
    text-align: center;
    background: #2222;
 
}
.customers img
{
    margin-top: 5px;
    height: 100px!important;
    width: 100px!important;
    border-radius: 50%!important;
    margin-left: 40%;
    padding: 10px;
}
.customers img:after{
    position: absolute;
    content: "/f10d";
    top: 120%;
    left: 90%;
    z-index: 10;
}
.customers h2{
    font-size: 30px;
}
.customers h3{
    font-size: 16px;
    margin-bottom: 10px;
}

/* End happy client section */


/* contact us section */
.contactUs{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

 

.contactUs:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0%;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(330deg ,#16c9f6 55%,#fff 0%);

}

.form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    background: transparent;
}

.form-button button:hover{
    background: #2fccd0;
    color: #fff;  
}
::placeholder{
    font-size: 0.8rem;
}
/* End contact us section */


/* Start news Letter */
.newsletter{
    width: 100%;
    height: auto;
    margin: 50px auto;
}
.news-heading h1{
 font-size: 30px;
}
.subscribe span{
 
    display: inline-block;

    padding: 7px 3px;
    
    background:rgb(96, 210, 238);
  
    
    text-align: center;
    
    border-radius: 3px;
    
    border: none;
    
    color:
    #fff;
}
.subscribe span:hover{
    background: #fff;
    color: rgba(47, 204, 208, 1.0);
    cursor: pointer;
}
/* End news Letter */

/* Footer section */

.footer-section{

    color: #fff;
    text-align: center;
    background: rgba(96, 210, 238, 1.0);
    width: 100%;
    height: auto;
    margin: 80px 0;
}

.subscribe-bottom span{
    background:#fff;
 
padding: 7px 10px;
border-radius: 3px;
color:rgba(96, 210, 238, 1.0);
 
}

.footer-list li A{
    color: #fff;
    font-size: 18px;
}

#scroll-top{
    position: absolute;
    right: 2%;
    background:rgba(96, 210, 238, 1.0);
    color: #fff;
    padding: 10px;
}

#scroll-top:hover{
    padding: 11px;
    transform: translateY(-5px);
}

/*End  Footer section */